/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.form {
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
  box-shadow: 8px 8px 8px lightgrey;
}
.form input {
  margin-top: 50px;
}
.form .loginButton {
  margin-top: 50px;
  background-color: #22224f;
  color: tomato;
}

.form .loginButton :disabled {
  background-color: lightgrey;
}

.errorMessage {
  margin-top: 10px;
  color: red;
}

.prrotAppBar {
  background-color: tomato !important;
}

.productImage {
  filter: grayscale(100%);
}

.inactive {
  color: white;
  background-color: lightgrey;
}

.cardItem {
  display: table-cell; /* Make elements inside the container behave like table cells */
}
