$labelColor: tomato;
$fondo: tomato;
body {
  background-color: $fondo;
}
.prrotAppBar {
  background-color: $fondo !important;
}
.cardItem {
  display: table-cell; /* Make elements inside the container behave like table cells */
}
