.oneMomentPlease
	display: table
	background: rgba(0,0,0,.5)
	width: 100%
	height: 100%
	overflow: hidden
	position: fixed
	top: 0
	left: 0
	z-index: 10000
.loading
	display: flex
	justify-content: center
	margin-top: 20%
